.site-header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  height: 100px;

  &__brand{
    position: absolute;
    color: #FFF;
    padding-left: 50px;

    @mixin atMedium{
      padding: 0;
    }

    &--lead-letter-lg{
      @mixin atMedium{
        font-size: 3rem;
    }
  }

    &--lagging-letter{
      display: none;

      @mixin atSmall{
        display: inline;
        font-size: 1rem;
      }
    }
  }
}
