.site-header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  height: 100px;

  &__brand{
    position: absolute;
    color: #FFF;
    font-size: 3rem;
    padding-left: 50px;

    @mixin atMedium{
      padding: 0;
    }
  }
}
